@require '../../css/global'
@require '../../css/comm'

.selects
  position relative
  padding 0 10px
  width 200px
  height 30px
  line-height 30px
  box-sizing border-box
  x-inline-block()
  vertical-align top
