#home
  .main-box-top
    .main-top-tit Home
    //h1(ui-sref='detail') detail
  .main-box-content
    form
      //- .inputBox
      //-   label Email
      //-   input.input(type='text' name='' placeholder='目录名' ng-model='' required='required' ng-trim='true' ng-maxlength='20')
      //-   .errorBox.error
      //-     div
      //-       span xxxx
      //- .inputBox
      //-   label Password
      //-   input.input(type='text' placeholder='')

    div
      sapn 隐藏charts
      input(type='checkbox' ng-model="myChart")
    #charts.chart(ng-hide="myChart")
    table.table
      thead
        tr
          th 编辑
          th 姓
          th 名
      tbody
        tr
          td 
            button.btn
              span.glyphicon.glyphicon-pencil 编辑
          td l
          td s