table
    width 100%
    tr
      height 30px
      line-height 30px
      border-bottom 1px solid #d4d4d4
    thead
      tr 
        height 40px
        line-hieght 40px
    thead,tbody
      tr
        td,th
          padding-left 20px

        