@require './commons//css/global.styl'
@require './commons/css/base.styl'
@require './commons/css/table.styl'
.main-box
  height  calc(100vh - 34px)
  width 100%
  background $mainbg 
  .main-box-top
    box-sizing border-box
    padding 0 20px
    height 66px
    width 100%
    line-height 66px
    border-bottom 1px solid $topbottom
    .main-top-tit
      font-size 16px
  .main-box-content
    padding 0 20px 20px
    height  calc(100vh - 74px)
    box-sizing border-box